{% extends 'base.html.twig' %}

{% block body %}
    <h1>Welcome in Series !</h1>
{#    <h1>Welcome in Series {{ name | raw }} !</h1>#}
{#    <h1>Welcome in Series {{ name | striptags }} !</h1>#}

    <div>
        <p>Name : {{ serie.name }}</p>
        <p>Genre : {{ serie.genre }}</p>
    </div>

{% endblock %}

{% block title %} {{ parent() }} | Home {% endblock %}

