{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <div class="flex_between">
            {% if currentPage > 1 %}
                <a class="link_button" href="{{ path('serie_list',{'page':currentPage-1}) }}">Previous page</a>
            {% endif %}
            {% if currentPage < maxPage %}

            <a class="link_button" href="{{ path('serie_list',{'page':currentPage+1}) }}">Next page</a>
            {% endif %}

        </div>
    </section>
    <br/>
    <section class="series-list">

        <h2>List of series !</h2>

        {% for serie in series %}
            <article>
                <a href="{{ path('serie_show',{'id':serie.id}) }}">
                    <img src="{{ asset("img/posters/series/" ~ serie.poster) }}" alt="{{ serie.name }}">
                </a>
            </article>
        {% endfor %}
    </section>


{% endblock %}

{% block title %}
    List
{% endblock %}